extends layout

block content
  h1 #{title}: #{genre.name}
  p Are you sure you want to delete this genre?
  form(method="POST" action="")
    input(value='genre._id' id=genre._id)
    button.btn.btn-primary(type='submit')
