doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		meta(name='viewport' content='width=device-width' initial-scale='1')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous") script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
		link(rel='stylesheet' href='/stylesheets/styles.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
		style(type='text/css') .material-symbols-outlined{font-size: 16px}
	body
		div.header
			a(href='/catalog')
				h1 GameDB
			if !user
				a(href='/users/login')
					button#login-btn.btn.btn-primary Log In
			else
				p.userNameLink Logged in as:
					a(href=user.url) !{user.username}
				a(href='/users/logout')
					button#login-btn.btn.btn-primary Log Out
		div.navbar
			a(href="#home") Home
			div.dropdown
				button.dropbtn 
					a(href='/catalog/playstation') PlayStation
					span(class="material-symbols-outlined icons") expand_more
				div.dropdown-content
					a(href="/catalog/playstation/ps1") PlayStation 1
					a(href="/catalog/playstation/ps2") PlayStation 2
					a(href="/catalog/playstation/ps3") PlayStation 3
					a(href="/catalog/playstation/ps4") PlayStation 4
					a(href="/catalog/playstation/ps5") PlayStation 5
			div.dropdown
				button.dropbtn
					a(href='/catalog/xbox') XBOX
					span(class="material-symbols-outlined icons") expand_more
				div.dropdown-content
					a(href="/catalog/xbox/xbox") XBOX
					a(href="/catalog/xbox/xbox360") XBOX 360
					a(href="/catalog/xbox/xboxone") XBOX One
					a(href="/catalog/xbox/xboxseries") XBox Series
			div.dropdown
				button.dropbtn
					a(href='/catalog/nintendo') Nintendo
					span(class="material-symbols-outlined icons") expand_more
				div.dropdown-content
					a(href="/catalog/nintendo/nes") NES
					a(href="/catalog/nintendo/snes") SNES
					a(href="/catalog/nintendo/n64") N64
					a(href="/catalog/nintendo/gamecube") GameCube
					a(href="/catalog/nintendo/wii") Wii
					a(href="/catalog/nintendo/wiiu") Wii U
					a(href="/catalog/nintendo/switch") Switch
			a(href="/catalog/pc") PC	
		
		block content
		div.footer
			p @author David Stropkey 2022, utilizes IGDB API 