doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		meta(name='viewport' content='width=device-width' initial-scale='1')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous") script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
		link(rel='stylesheet' href='/stylesheets/styles.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet")
	body
		div.header
			a(href='/catalog')
				h1 GameDB
			if !user
				a(href='/users/login')
					button#login-btn.btn.btn-primary Log In
			else
				p.userNameLink Logged in as:
					a(href=user.url) !{user.username}
				a(href='/users/logout')
					button#login-btn.btn.btn-primary Log Out
		div.navbar
			a(href="#home") Home
			div.dropdown
				button.dropbtn PlayStation
					i(class="fa fa-caret-down")
				div.dropdown-content
					a(href="#") PlayStation 1
					a(href="#") PlayStation 2
					a(href="#") PlayStation 3
					a(href="#") PlayStation 4
					a(href="#") PlayStation 5
			div.dropdown
				button.dropbtn XBOX
					i(class="fa fa-caret-down")
				div.dropdown-content
					a(href="#") XBOX
					a(href="#") XBOX 360
					a(href="#") XBOX One
					a(href="#") XBox Series
			div.dropdown
				button.dropbtn Nintendo
					i(class="fa fa-caret-down")
				div.dropdown-content
					a(href="#") NES
					a(href="#") SNES
					a(href="#") N64
					a(href="#") GameCube
					a(href="#") Wii
					a(href="#") Wii U
					a(href="#") Switch
			a(href="#") PC	
		
		block content
		div.footer
			p @author David Stropkey 2022, utilizes IGDB API 