extends layout

block content
  h1 Log In
  if(message)
    h4 #{message}

  form(action="/login" method = "POST")
    label(for='username') User Id:
    input#username.form-control(name="username" type="text" required placeholder="User ID")

    label(for='password') Password:
    input#password.form-control(name="password" type="password" required placeholder="Password")

    button.btn.btn-primary(type="submit") Log in

    p Not an existing user?
      a(href='/users/signup')  Sign Up!
