extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text' name='name' placeholder='Enter publisher name' required value=(publisher==null) ? '' : publisher.name)

      label(for='location') Location:
      input#location.form-control(type='text' name='location' placeholder='Enter location' required value=(publisher==null) ? '' : publisher.location)

    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        each error in errors
          li!= error.msg
