extends layout

block content
    h1 Universal Games List
    
    dl
        each game in games_list
            dt 
                a(href='') #{game.name}
            dd Metacritic Rating: #{game.metacritic}

    a(href='https://rawg.io/') Data provided by RAWG api